In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns

In [ ]:
df_titanic = pd.read_csv("https://raw.githubusercontent.com/datascienceschool/docker_rpython/master/data/titanic.csv")
df_titanic.tail()

In [ ]:
df_titanic.shape

In [ ]:
df_titanic.head()

In [ ]:
df_titanic.info()

In [ ]:
df_titanic.describe()

In [ ]:
df_titanic.describe(include='all')

In [ ]:
df_titanic.describe(include='O')

생존율과 객실등급 간의 상관관계를 분석해보세요.

In [ ]:
col = list(df_titanic)
col.pop(0)

In [ ]:
col.insert(0, col.pop())

In [ ]:
df_titanic[col[:3]]

In [ ]:
df_titanic[:5]

생존율과 다음 컬럼값들 간의 상관관계를 분석해보세요.
['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

상관관계 > Table로 표현해보세요.

상관관계 > heatmap으로 표현해보세요.

seaborn의 heatmap 활용

- cmap: 'coolwarm' # 컬러 구성
- annot: True # 각 셀의 값 표기
- fmt: '.2f' # 숫자표현포맷

각각을 bar plot으로 시각화해보세요.

검은색 bar는 오차막대(error bar) 이며 신뢰구간(confidence interval) 95%

catplot활용
- x: x축 column명
- y: y축 column명
- data: dataframe
- king: 'bar'

In [ ]:
g = sns.catplot(x='Pclass', y='Survived', data=df_titanic, kind='bar')

In [ ]:
g = sns.catplot(x='SibSp', y='Survived', data=df_titanic, kind='bar')

In [ ]:
g = sns.catplot(x='Parch', y='Survived', data=df_titanic, kind='bar')

생존자와 사망자 간의 각 나이 분포도를 히스토그램으로 시각화해보세요.

- 데이터프레임 groupby
- hist 메서드 활용, bins

In [ ]:
# sns subplot 그리기 (col 기준) (row 기준)
g = sns.FacetGrid(df_titanic, col='Survived')
g = g.map(sns.histplot, 'Age', kde=True) # kde=True, kernel density estimate to smooth the distribution and show on the plot as (one or more) line(s)

In [ ]:
# kde plot
g = sns.kdeplot(df_titanic["Age"][(df_titanic["Survived"] == 0) & (df_titanic["Age"].notnull())], color="Red", fill= True)
g = sns.kdeplot(df_titanic["Age"][(df_titanic["Survived"] == 1) & (df_titanic["Age"].notnull())], ax =g, color="Blue", fill= True)
g.set_xlabel("Age")
g.set_ylabel("Frequency")
g = g.legend(["Not Survived", "Survived"])

성별에 따른 생존율을 비교해보세요.

남자 : 생존율  
여자 : 생존율

In [ ]:
sns.catplot(x='Sex', y='Survived', data=df_titanic, kind='bar')

객실등급에 따른 생존율을 비교해보세요.

1등급 : 생존율  
2등급 : 생존율  
3등급 : 생존율

In [ ]:
sns.catplot(x='Pclass', y='Survived', data=df_titanic, kind='bar')

하나의 그래프에 객실등급과 성별에 대한 생존율을 함께 시각화해보세요.

In [ ]:
g = sns.catplot(x='Pclass', y='Survived', hue='Sex', data=df_titanic, kind='bar')

성별에 따른 나이의 분포를 분석해보세요.

객실등급에 따른 나이의 분포를 분석해보세요.

In [ ]:
sns.catplot(x='Sex', y='Age', data=df_titanic, kind='box')
sns.catplot(x='Sex', y='Age', data=df_titanic, kind='violin')
sns.catplot(x='Pclass', y='Age', data=df_titanic, kind='strip')
sns.catplot(x='Pclass', y='Age', data=df_titanic, kind='swarm')

항구에 따른 생존율을 시각화해보세요.

catplot 활용
- data: dataframe
- kind: bar

항구에 따라 생존율의 차이가 있습니다.  
왜일까?  
항구에 따라 탑승하는 객실등급 수준의 차이가 있는건 아닐까.. Hoxi..?

객실등급과 항구간의 관계를 확인해보세요

In [ ]:
count_em_pc = df_titanic[['Pclass', 'Embarked', 'PassengerId']].groupby(['Embarked', 'Pclass']).count()
count_em_pc

  count plot을 이용해서 표현해보자.

In [ ]:
sns.catplot(x="Pclass", col="Embarked",  data=df_titanic,
                   kind="count", palette="muted")

항구와 객실등급에 따른 생존율

In [ ]:
g = sns.catplot(x='Embarked', y='Survived', data=df_titanic, kind='bar',
                   aspect=1)

In [ ]:
g = sns.catplot(x='Embarked', y='Survived', hue='Pclass', data=df_titanic, kind='bar',
                   aspect=3)

요금의 분포를 시각화해보세요.

In [ ]:
plt.hist(df_titanic["Fare"], bins=100)
plt.show()

In [ ]:
g = sns.kdeplot(df_titanic["Fare"])

In [ ]:
df_titanic["Fare"].skew()

skewness는 -2 이하, 2 이상이 기준

치우침(Skewness)가 가장 심한 feature가 무엇인지 찾아보세요.

df의 skew() method 활용

0. skew를 활용해 데이터를 추출하고
1. 데이터프레임을 생성
2. index로 들어가있는 데이터로 feature 칼럼을 생성
3. barplot 생성

In [ ]:
df_skew = pd.DataFrame(skew,
                       columns=['skew'])
df_skew

In [ ]:
df_skew['feature'] = df_skew.index
df_skew

In [ ]:
sns.catplot(x='feature', y='skew', data=df_skew, kind='bar')

첨도(Kurtosis)가 가장 심한 feature가 무엇인지 찾아보세요.

데이터프레임의 kurt() method 활용

In [ ]:
df_titanic.kurt().sort_values(ascending=False)

In [ ]:
df_titanic.head()

In [ ]:
df_titanic[['Name', 'Ticket', 'Cabin']].describe()

Name, Ticket, Cabin은 모두 unique값이 많기 때문에, 데이터 자체값으로는 큰의미가 없다. 데이터를 직접 살펴보고, 유의미한 value를 추출할 수 있을지 고민해야한다.

In [ ]:
df_titanic['Name']

In [ ]:
df_titanic.Name

전체 이름에서, . 앞에 있는 알파벳묶음열(알파벳으로만 이루어진 문자열)을 찾아내고 싶다면?

In [ ]:
# .
# ?
# +
# *
# []
# [^]
# ()

# 회피용법 \. \? \+ \* \[ \] \^ \( \)

# greedy Q : 최대한 긴 문자열로 찾아낸다. = .+
# reluctant Q : 최대한 짧은 문자열로 찾아낸다. = .+?

In [ ]:
df_titanic['Title'] = df_titanic.Name.str.extract('([A-Za-z]+)\.', expand=True) # 정규표현식 7가지 핵심 문법 ? . + * [] [^] ()

In [ ]:
import re
text = 'abc.def..ght..xyz.poi'
rq = re.findall('\.(.+?)\.', text)
gq = re.findall('\.(.+)\.', text)
rq, gq

In [ ]:
df_titanic['Title'] = df_titanic.Name.str.extract(',\s(.+?)\.', expand=True) # .+? = 문자열

In [ ]:
df_titanic['Title']

In [ ]:
pd.crosstab(df_titanic['Title'], df_titanic['Sex'])

In [ ]:
list(df_titanic)

In [ ]:
pd.crosstab(df_titanic['Title'], df_titanic['Pclass'])

In [ ]:
pd.crosstab(df_titanic['Title'], df_titanic['Survived'])

In [ ]:
df_titanic['Name'].str.split(',')

이름에서 Mr, Miss 등 성별 혹은 직위를 나타내는 칭호가 있다. 이것은 생존율에 쓸만하지 않을까?

  이녀석만 따로 빼내자.

In [ ]:
[i.split(",")[1] for i in df_titanic["Name"]]

In [ ]:
title = [i.split(",")[1].split(".")[0].strip() for i in df_titanic["Name"]]
df_titanic["Title"] = pd.Series(title)
df_titanic["Title"].head()

Title에 따른 생존율을 비교해보세요.

너무 빈도가 적은 Title은 묶어도 되지 않을까?

Mr -> 1
Miss -> 2
Mrs -> 3
Master, Dr -> 4
Rev -> 5
others -> 0

In [ ]:
set([i.split(",")[1].split(".")[0] for i in df_titanic["Name"]])

In [ ]:
[i.split(",")[1].split(".")[0] for i in df_titanic["Name"]]

이와 같이, Ticket과 Cabin도 분석해보세요.

In [ ]:
df_titanic['Ticket']

In [ ]:
df_titanic['Cabin']

In [ ]:
for cabin in df_titanic['Cabin'][df_titanic['Cabin'].notnull()]:
    print(cabin)

In [ ]:
cabin_num = [cabin.split()[0][0] for cabin in df_titanic['Cabin'][df_titanic['Cabin'].notnull()]]
df_titanic["CabinCode"] = pd.Series(cabin_num)
sns.set(font_scale=2) # 폰트 크기 키우기
sns.catplot(x="CabinCode", col="SibSp",  data=df_titanic,
                 height=7,  kind="count", palette="muted")